.button 
    .button-element
        .button-fromair 
            .button-fromair__img 
                img(src="./", alt="")
            .button-formair__text
                p From air
            .button-fromair__para 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, porro ipsam quo perferendis vel minima! 
        .button-bestdrones 
            .button-bestdrones__img 
                img(src="", alt="")
            .button-bestdrones__text 
                p Best drones
            .button-bestdrones__para  
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, porro ipsam quo perferendis vel minima! 
        .button-speed 
            .button-speed__img 
                img(src="", alt="")
            .button-speed__text 
                p Speed
            .button-speed__para
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, porro ipsam quo perferendis vel minima! 
        .button-longrange 
            .button-longrange__img 
                img(src="", alt="")
            .button-longrange__text
                p Long range
            .button-longrange__para    
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, porro ipsam quo perferendis vel minima! 
    .button-askfor 
        p.text Ask for price

        
        















script(type="module" src="../../js/button.js") 