//- codehere
.container 
    .view1 
    .view2
    .sign-up-container(style="background-image:url('./../img/SignUp.png')")
        .sign-up-content
            h2.content1 Sign up for our newsletter 
            .email-container 
                .email.content Email address
                    span.send-content Send
    .map-container(style="background-image:url('./../img/map.png')")
    .end-container 
        .end-content 
            p Cum sociis natoque penatibus et magins paturient  montes, nascetur ridiculus mus.
            p Try awesome tool for designers <strong>symu.co
//----
script(type="module" src="../../js/end.js") 