//- codehere

.bg-img(style="background-image:url('./../img/First.png')")
    .bg-color
    .container-h
        .header
            .h-logo
                a(href="#") Drone
                span Zone
            .h-menu
                ul.m-list
                    li.m-list-link 
                        a(href="#") Home
                    li.m-list-link
                        a(href="#") About
                    li.m-list-link
                        a(href="#") Pricing
                    li.m-list-link
                        a(href="#") Our drones
                    li.m-list-link
                        a(href="#") Our realizations
                button.btn-contact Contact 
    .container-b
        .body 
            .b-text
                h1 Film your event with us!
                p Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo.
                p Nunc vel nibh tempor, pharetra lectus congue, luctus orci.
            .b-btn
                button.btn-ask Ask for price
                button.btn-watch  &#9654; Watch video 
    .container-f
        .footer 
            .f-icon
            .f-text     
                p scrool down                   

script(type="module" src="../../js/first.js") 