//-code here
.nature_container
      //-Bên trái
  .nature_left
    h1.nature_title
      | Nature from the air
    h3.nature_subtitle
      | Mauris consequat libero metus, nec ultricies sem efficitur quis. Interger bibendum eget metus ac ac-
      br
      |                 cumsan. Integer sit amet lacus egestas, semper est quis, viverra ex.
    .nature_left_description
      .nature_list
        .nature_round
          p.round_list 1
        |                     Pellentesque eget nunc sit amet urna ullamcorper fermentum 
        br
        |  et eu leo.
        |                     Nunc vel nibh tempor, pharetra lectus congue,
        br
        |                     luctus orci
      .nature_list
        .nature_round
          p.round_list 2
        |                     Mauris consequat libero metus, nec ultricies sem efficitur quisetus ac ac- 
        br
        |                     cumsan. Integer sit amet lacus egestas, semper est quis, viverra ex.
      .nature_list
        .nature_round
          p.round_list 3
        |                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        br
        |  Earum porro accusantium
        |                     exercitationem
        |                     reiciendis facere corrupti autem nobis eos, 
        br
        |  perspiciatis optio odit ad laboriosam nemo?
        |                     Voluptatibus,
        |                     consequatur deserunt. Tempora, quae dolore?
      .nature_list
        .nature_round
          p.round_list 4
        |                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        br
        |  Earum porro accusantium
        |                     exercitationem
        |                     reiciendis facere corrupti autem nobis eos, 
        br
        |  perspiciatis optio odit ad laboriosam nemo?
        |                     Voluptatibus,
        |                     consequatur deserunt. Tempora, quae dolore?
      .nature_list
        .nature_round
          p.round_list 5
        |                     Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        |                     reiciendis facere corrupti autem nobis eos, 
        br
        |  consequatur deserunt. Tempora, quae dolore?
      //- Bên phải
  .nature_right(style="background-image:url('./../flycam.png')")
script(type="module" src="../../js/nature.js") 