.container{  
    // border: 2px solid red; 
    max-width: 1560px !important;   
    // .view1{
    //     // border: 2px solid blue;
    //     height: 100vh;
    // }
    // .view2{
    //     // border: 2px solid green;
    //     height: 100vh;
    // }
    .sign-up-container{
        // border: 2px solid orange;
        height: 60vh;
        background-size: cover;
        .sign-up-content{
            height: 100%;
            padding: 15rem;
            text-align: center;
            .content1{
                font-size: 2.8rem;
                color: #fefefe;
            }
            .email-container{
                // border: 2px solid saddlebrown;
                margin: 3rem;
                text-align: center;
                .email-content{
                    border: 2px solid #fefefe42;
                    padding: 1rem;
                    font-size: 1.6rem;
                    color: white;
                    border-radius: 25px;     
                    width: 20%;
                    background-color: #fefefe39;
                    display: inline-block;

                    text-align: left;
                    position: relative;

                    .send-content{
                        padding: 1rem 3.6rem;
                        border: 1px;
                        color:rgb(222, 34, 34);
                        background-color: #fefefe;
                        border-radius: 20px;
                        font-size: 1.6rem;
                        position:absolute; 
                        right: 0;
                        top: 0;
                    }                            
    
                }
            }
        }
    }
    .map-container{
        // border: 2px solid pink;
        height: 75vh;
        
        background-repeat: no-repeat;
        background-size: cover;
    }
    .end-container{
        // border: 2px solid purple;
        height: 45vh;
        font-size: 1.6rem;
        .end-content{
            margin: 6rem;
            color:gainsboro;
            text-align: center;
        }
    }
}
@media (max-width: 1320px) {  
    .sign-up-content{
        height: 100%;
        padding: 12rem;
        text-align: center;
        .content1{
            font-size: 2.6rem;
            color: #fefefe;
        }
        .email-container{
            // border: 2px solid saddlebrown;
            margin: 3rem;
            text-align: center;
            .email-content{
                border: 2px solid #fefefe42;
                padding: 1rem;
                font-size: 1.6rem;
                color: white;
                border-radius: 25px;     
                width: 20%;
                background-color: #fefefe39;
                display: inline-block;

                text-align: left;
                position: relative;

                .send-content{
                    padding: 1rem 3srem;
                    border: 1px;
                    color:rgb(222, 34, 34);
                    background-color: #fefefe;
                    border-radius: 20px;
                    font-size: 1.3rem;
                    position:absolute; 
                    right: 0;
                    top: 0;
                }                            

            }
        }
    }
}
@media (max-width: 875px) {  
    .email-content{
        width: 55% !important;
        font-size: 1.3rem !important;
    }
    .send-content{
        // display: none;
        font-size: 1.6rem !important;
        padding: 1rem 2.8rem !important;
    }
    .map-container{
        background-size: cover !important;
    }
}
@media (max-width: 690px) {  
    .email-content{
        width: 70% !important;
        font-size: 1.3rem !important;
    }
    .send-content{
        // display: none;
        font-size: 1.3rem !important;
        padding: 1rem 2rem !important;
    }
    .map-container{
        height: 50vh !important;
        background-size: contain !important;
    }
    .end-container{
        height: 20vh !important;
    }
}